.sidebar {
  width: 300px;
  height: calc(100vh - 120px); /* subtract the height of your header and footer */
  position: fixed;
  top: 60px; /* set the top value to the height of your header */
  right: 0;
  background-color: var(--accent);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    top: 0;
    right: -100%;
    transition: all 0.3s ease;
  }
  .sidebar.active {
    right: 0;
  }
}

.sidebar-menu {
  padding: 20px;
}

.sidebar-burrows {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-burrows li {
  margin-bottom: 10px;
}

.sidebar-burrows li a {
  display: block;
  padding: 10px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-burrows li a:hover {
  background-color: #FFFFFF;
  color: var(--accent);
  border-radius: 20px;
}
