.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--accent);
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 #d1d5db;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 10px;
  
}

.logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}


.search-bar input {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: #FFFFFF;
}

.search-bar button {
  height: 40px;
  width: 100px;
  background-color: #FFFFFF;
  color: var(--accent);
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: var(--accent);
  color: #FFFFFF;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}


body  {
  background: white;
}

.dark body {
  background: black;
}