@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar {
    @apply flex flex-row justify-end mr-16 py-4;
  }

  .sidebar-menu {
    @apply border-2 border-gray-300 p-8 pt-4 h-[300px] shadow-sm shadow-gray-300 rounded
  }

  .header {
    @apply bg-red-600;
  }

  .footer {
    @apply bg-green-600 mb-auto;
  }

  .posts-container {
    @apply flex flex-col justify-between w-full gap-4 px-4 py-4
  }

  .post {
    @apply border-2 border-gray-300 rounded
  }

  .post-buttons {
    @apply gap-3 flex
  }

  .beeg-container {
    @apply flex
  }

  .post-buttons {
    @apply text-slate-400
  }

  .title {
    @apply text-blue-500
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }