@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar {
    @apply flex flex-row justify-end mr-16;
  }

  .sidebar-menu {
    @apply border-2 border-gray-300 p-8 h-[300px] shadow-sm shadow-gray-300 rounded
  }

  .header {
    @apply bg-red-600;
  }

  .footer {
    @apply bg-green-600 mb-auto;
  }

  .posts-container {
    @apply flex flex-col justify-between w-full;
  }

  .post-buttons {
    @apply gap-3 flex
  }

  .beeg-container {
    @apply flex
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }