@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar {
    @apply flex flex-row justify-end mr-16;
  }

  .sidebar-menu {
    @apply border-2 border-gray-300 p-8 shadow-sm shadow-gray-300 rounded
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }